

@if (AppModelObject.ItemDtoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Button Color=Color.Primary Size="Size" Block=true Margin=Margin.Is2.FromTop
        @onclick="LoadAllFromCache">
        @Localizer["View All Items"]
    </Button>

    @foreach (var item in AppModelObject.ItemDtoList)
    {
        <Button Color=Color.Primary Size="Size" Block=true Margin=Margin.Is2.FromTop 
        @onclick="@(async () => await ClickId(item.ItemID))">
            @*@Localizer[$"ItemId -{item.ItemID} , Item Name - {@item.Name}"]*@
            @Localizer[$"Item Name - {@item.Name}"]
        </Button>
    }
}